/* Write your CSS here! */
p {
    background-color: aliceblue;
    
  }

body {
    margin: 8px;
    display: block;
}

article {
    background-color: lavender;
   
  }

.top {
    font: medium;
}

#peak {
    color:cornflowerblue
}

#mainheading {
    color: red;
}

.funParagraph{
    color: green
}