/* Write your CSS here! */
p {
    background-color: aliceblue;
    margin-top: 1em ;
  margin-bottom: 1em ;
  }

body {
    /* margin: 8px; */
    display: block;
}

article {
    background-color: lavender;
   
  }

  image{
    width: 200px;
    height: auto;
  }

.top {
    font: medium;
}

#peak {
    color:cornflowerblue
}

#mainheading {
    color: red;
}

.funParagraph{
    color: green
}